<nav>
  <div class="site-title">
    <div class="flex-nav">
      <a href="/">
        <h1>Ivan Craig</h1>
      </a>
      <div>
        <a href="https://www.linkedin.com/in/ivancraig/"><img class="fb dark" src="/photos/insta.png"></a>
        <a href="https://github.com/ic188002"><img class="gitt dark" src="/photos/gitt.png"></a>

      </div>
    </div>
    <p class="up">Portfolio</p>
  </div>
  <div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Me.</a></li>
      <li><a href="/seiprojects">Software Projects</a></li>
      <li><a href="/skills">Skills</a></li>
      <li><a href="/pages">Links</a></li>
      <li class=""><a href="/contactme"><strong class="blue23">Contact Me. </strong></a></li>
    </ul>
  </div>
</nav>