<nav>
  <div class="site-title">
    <a href="/"><h1>Ivan Craig</h1></a>
    <p>Portfolio</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/car">car</a></li>
    <li><a href="/discoid">discoid</a></li>
    <li><a href="/blogs/create">New </a></li>
  </ul>
</nav>
