<nav>
  <div class="site-title">
    <div class="flex-nav">
    <a href="/"><h1>Ivan Craig</h1></a>
    <div>
    <img class="fb" src="/photos/insta.png" >
    <img class="gitt" src="/photos/gitt.png">
  </div>
  </div>
    <p>Portfolio</p>
  </div>
  <div class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/seiprojects">Software Projects</a></li>
    <li><a href="/skills">Skills</a></li>
    <li><a href="/graphics">Graphics</a></li>
    <li class=""><a href="/contactme"><strong class="blue23">Contact Me. </strong></a></li>
  </ul>
</div>
</nav>

