
<html lang="en">
  <%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/nav.ejs") %>
    
  <div class="me-box">
    
  <h1 class="blue-title">A Bit About Me</h1>
  <h5 class="blue">
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Having always had an interest in design, I went on and achieved a Bachelor's degree in <strong class="blueish">Sustainable Product Design from Falmouth University</strong>, it was here where I was first exposed to the design and engineering world, I relished the chance to create something truly unique everyday and <strong class="blueish">develop my skills.</strong> The reason I am transitioning into the software engineering sector is that I get the most reward and a sense of achievement developing a project that has not only a <strong class="blueish">focus on the functionality but also the user interface and design bringing together UX and UI design.</strong><br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp I am a calming person that can be relied upon to stand up and deliver I am good at teaching new people new tricks, and workwell in a<strong class="blueish"> high pressure environment.</strong> I am highly skilled in idea creation, design and original thinking design. Furthermore, I greatly enjoy social interaction in the workplace and amongst new people and I enjoy the working and the thinking behind the senses.In the future I want to be working on<strong class="blueish"> exciting projects with a strong focus on job development with a great team around me. </strong>
  </h5>
  </div>
    <%- include("./partials/footer.ejs") %>
  </body>
  </html>