<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="me-box3"> <br>
        <div class="skillll">
          <h1 class="text222 ">A Bit About Me</h1>
        </div>
        <div class="flex-direction-accross">
        <img src="/spd/me.png" class="me">
        <h5 class="blue">
          &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Having always had an interest in design, I went on and achieved a
          Bachelor's degree in <strong class="blueish">Sustainable Product Design</strong> from <strong
            class="blueish">Falmouth University</strong>, it was here where I was first exposed to the design and
          engineering world., I relished the chance to create something truly unique everyday and develop my skills. The
          reason I am transitioning into the software engineering sector is that I get the most reward and a sense of
          achievement from developing a project that has not only a focus on the functionality but also the user
          interface and design bringing together <strong class="blueish">UX</strong> and <strong class="blueish">UI
          </strong>design.
          <br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp I am a calming person that can be relied upon to stand up and deliver.
          I am good at teaching new people new tricks, and workwell in a high pressure environment. I am skilled in idea
          creation, design and original thinking design. Furthermore, I greatly enjoy social interaction in the
          workplace and amongst new people and I enjoy the working and the thinking behind the senses.In the future I
          want to be working on
        </h5>
      </div>
        <div class="image-skill2">
          <img class="image-skilll" src="/photos/lang.png">
        </div>
        <br><br><br><br><br>
      </div>
      <%- include("./partials/footer.ejs") %>
  </body>

</html>