<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>


        <img class="float-right"src="/spd/whatweused.png" width="20%">
            <div class="flex-inner">

                <!-- <img class="img-wine" src="/photos/forageprofile.png"> -->
            </div>
            <!-- <img class="float-right"src="/spd/whatweused.png" width="20%"> -->
            <div class="float">
                <img class="autocar" src="/spd/ncar.png" width="68%">
                <div class="text-box-right">
                    <h3 class="grey">The AON</h3>
                    <h6 class="grey">An autonomous transportation exploratory concept investigates the most efficient
                        design for a cabin layout, moving away from the idea that the outside design comes first. With
                        battery technology evolving so rapidly and the fact that the majority of individuals live in
                        urban areas could easily lead to an autonomous car sharing ecosystem removing the sense of
                        ownership away from the car.</h6>
                </div>
            </div>
            <img class="" src="/spd/car2.png" width="68%">

            <div class="float">
            <img class="" src="/spd/acar.png" width="68%">
            <div class="text-box-right">
                <h3 class="grey">Design Exploration</h3>
            </div>
            </div>


            <img class="" src="/spd/apro33.png" width="68%">
            <img class="" src="/spd/apro34.png" width="68%">
            <img class="" src="/spd/car4.png" width="68%">
            <img class="" src="/spd/ncar1.png" width="68%">
            <div class="float">
            <img class="" src="/spd/ncar2.png" width="68%">
            <div class="text-box-right">
                <h3 class="grey">CAD Modeling</h3>
            </div>
            </div>
            <img class="" src="/spd/ncar3.png" width="68%">


            
            <img class="" src="/spd/car5.png" width="68%">
            <img class="autocar1" src="/spd/car6.png" width="68%">



      
            <%- include("./partials/footer.ejs") %>
    </body>

</html>