<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="binin">

                <div class="full-box-bin">
                    <div>
                        <img src="/spd/binlogo.png" width="">
                    </div>
                    <div class="text-box">
                        <p class="grey"><em class="grey">"The cartoon, which was inspired by Councillor Sally Cogley,
                                Chair of the Council’s Clean, Green and Vibrant Member Officer Working Group; was
                                developed in partnership with Hillhead Primary School, Cleaner Communities, Vibrant
                                Communities and Ayrshire artist, Ivan Craig. Teacher Cleo Roy developed the script for
                                the video, which was narrated by teacher Louise Kerr and Ellie, Khali and Owen from P3,
                                who did a wonderful job voicing the hedgehogs who visit their local park on a sunny day
                                and find it full of litter. Through the cartoon, the hedgehogs take children on a
                                journey to show that our beautiful green spaces should be litter free and the importance
                                of acting responsibly so that we can all be happy, healthy and enjoy our local
                                area."</em></p>
                        <h5 class="grey">East Ayrhsire Council</h5>
                    </div>
           
                </div>


                <div class="middle">
                    <div class="img-bin"><img class="" src="/spd/bing.png" width="80%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin3.png" width="80%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin4.png" width="80%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin5.png" width="80%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin6.png" width="80%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin7.png" width="80%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin8.png" width="80%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin9.png" width="80%"></div>

                </div>

            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>