<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="binin">
                <br>
                <div class="skillll">
                    <h1 class="text222 ">     Anti Littering Campaign</h1>
                </div>



                <div class="middle"><br><br>
          

                    <div class="img-bin"><img class="" src="/spd/eac.png" width="70%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin7.png" width="70%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin8.png" width="70%"></div>
                    <div class="img-bin"><img class="" src="/spd/bing.png" width="70%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin3.png" width="70%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin6.png" width="70%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin4.png" width="70%"></div>
                    <div class="img-bin"><img class="" src="/spd/bin5.png" width="70%"></div>
             
   
                    <div class="img-bin"><img class="" src="/spd/bin9.png" width="70%"></div>
<br><br>
                </div>

            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>