<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="body">
        <div class="body2">
          <div class="skillll">
            <h1 class="text222 ">Classic Car Restoration</h1>
        </div>
          <br>
          <!-- <div class="flex-inner">
          <h1 class="text ">Classic Car Restoration</h1>
          </div> -->

          <hr>

          <div class="justify">
        
          <h5 class="fontcolor"><strong class="fontcolor">
            Covid provided me with the perfect opportunity  to fulfil a dream of restoring a classic car. I had to learn on the Job teaching myself all about classic engineering through the Tr4 Haynes Manual. The full nut a bolt restoration of the mechanical underpins of the car was a valuable experience in the importance in fine margins and tolerances
            <hr>
            The Triumph TR4 </strong>is arguably the archetypal ‘hairy chested’ British sports car. Introduced primarily to increase Triumph’s success in the US market, over 71,000 were produced over a six year period. Today, approximately 1650 remain in the UK. 
         
            <br><br>
            Mechanically, it shares much with the earlier TR3. The only major upgrade came in the form of a 2138cc engine, bored out from the TR3’s 1991cc lump. Power jumped up to 104bhp, and performance is still more than sprightly enough to keep up with modern traffic. Today of course many are producing significantly more with 130bhp possible thanks to modern improvements. </h5>
             <img class="carin" src="/photos/ccarr.png" width="30%">
          </div>
          
          
          
          <div class="flex-inner">
            <div id="gallery" class="container-fluid">  
              <img src="/photos/car1.jpg" class="img-responsive">
              <img src="/photos/car2.jpg" class="img-responsive">
              <img src="/photos/car3.jpg" class="img-responsive">
              <video class="vid" controls>
                <source src="/photos/car26.mp4" type="video/mp4">
                </source>
              </video>
              <img src="/photos/car4.jpg" class="img-responsive">
              <img src="/photos/car20.jpg" class="img-responsive">
              <img src="/photos/car6.jpg" class="img-responsive">
              <img src="/photos/car7.jpg" class="img-responsive">
              <img src="/photos/car8.jpg" class="img-responsive">
              <img src="/photos/car9.jpg" class="img-responsive">
              <img src="/photos/car10.jpg" class="img-responsive">
              <img src="/photos/car11.jpg" class="img-responsive">
              <img src="/photos/car12.jpg" class="img-responsive">
              <img src="/photos/car21.jpg" class="img-responsive">
              <img src="/photos/car14.jpg" class="img-responsive">
              <img src="/photos/car15.jpg" class="img-responsive">
              <img src="/photos/car16.jpg" class="img-responsive">
              <img src="/photos/car17.jpg" class="img-responsive">
              <img src="/photos/car18.jpg" class="img-responsive">
              <img src="/photos/car19.jpg" class="img-responsive">
              <img src="/photos/car22.jpg" class="img-responsive">
              <img src="/photos/car23.jpg" class="img-responsive">
              <img src="/photos/car24.jpg" class="img-responsive">
              <img src="/photos/car25.jpg" class="img-responsive">
        
            
            </div>
            
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                  </div>
                </div>
            
              </div>
            </div>




          </div>








        </div>
      </div>

      <%- include("./partials/footer.ejs") %>

  </body>

</html>