<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="me-box">
 <br>
          <div class="skillll">
          <h1 class="text222 ">Contact Me.</h1>
      </div>
     <br> <br>
        <div class="contac">
       
          <ul>
            <div class="flex-ins"><img src="/photos/bb.png" width="100px">
              <li class="blue2">Email: ivan.craig@hotmail.com</li>
            </div>
            <div class="flex-ins"><img src="/photos/b.png" width="100px">
              <li class="blue2">GitHub: <a href="https://bit.ly/3t0iIeS">Click Here</a></li>
            </div>
            <div class="flex-ins"><img src="/photos/bbb.png" width="100px">
              <li class="blue2">LinkedIn:<a href="https://www.linkedin.com/in/ivan-craig-63b67223b/"> 
                  /in/ivancraig</a></li>
            </div>
            <div class="flex-ins"><img src="/photos/bbbb.png" width="100px">
              <li class="blue2">Location: London</li>
            </div>
            <div class="flex-ins"><img src="/photos/bbbbb.png" width="100px">
              <li class="blue2">Behance: <a href="https://www.behance.net/IC188002d7b1">behance.net/IC188002</a></li>
            </div>
          </ul>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
  </body>

</html>