<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="me-box">
 
        <h5 class="blue">

        </h5>
        <div class="contac">
          <h1 class="blue-title">Contact Me.</h1>
          <ul>
            <div class="flex-ins"><img src="/photos/bb.png" width="100px">
              <li class="blue2">Email: Ivan Craig</li>
            </div>
            <div class="flex-ins"><img src="/photos/b.png" width="100px">
              <li class="blue2">GitHub: <a href="https://bit.ly/3t0iIeS">Click Here</a></li>
            </div>
            <div class="flex-ins"><img src="/photos/bbb.png" width="100px">
              <li class="blue2">LinkedIn:<a href="https://www.linkedin.com/in/ivan-craig-63b67223b/"> Find Me Here
                  Here</a></li>
            </div>
            <div class="flex-ins"><img src="/photos/bbbb.png" width="100px">
              <li class="blue2">Location:</li>
            </div>
            <div class="flex-ins"><img src="/photos/bbbbb.png" width="100px">
              <li class="blue2">Behance:</li>
            </div>
          </ul>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
  </body>

</html>