<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>


      <div class="bodydisc">
        <div class="body2">

          <br>

          <br><br>
          <div class="underline">
            <h1 class="text22p ">DISCOID</h1>
            <p class="color">Sell Vinyl Records online to reach the wide audience of vinyl lovers</p>
          </div><br>
          <img src="/disc/albums1.png" width="100%">
          <br>
          <div class="gitandweb">
            <h5 class="grey"><strong class="grey">GitHub</strong> and <strong class="grey">deployment links</strong> at
              the bottom of the page.</h5>
          </div>
          <div class="flex-inner">
            <img class="img-wine" src="/disc/logoo.png">
            <h5 class=" box pink">Discoid is an e-commerce website that would allow users to sign-up and view their
              profiles as well as list items for sale. The name for the website is Discoid which stands for a round disk
              and our website specialises on the selling and buying of vinyl records. In only four days, we created a
              well rounded website utilizing Spotify's API to provide the album information with cart functionality that
              registers a user ID and assigns them the product. I mainly worked on CRUD functionality allowing the users
              to upload items for sale.

            </h5>
          </div>
          <hr>
          <div class="flex-inner">
            <h2 class=" box pink">
              <strong class="pink"> Technologies I Used</strong><br><br>
            </h2>
            <img class="img-wine" src="/spd/aaa.png">
          </div>
          <br><br>
          <img src="/spd/dvdingo.png" width="100%">
          <br><br>
          <img src="/spd/discord.png" width="100%">
          <br><br><br>
          <hr>
          <div class="git">
            <h3>Deployment Link:</h3><a href="https://discoid.skreslett.com/records/index"><img class="light"
                src="/photos/awww.png" width="100vw"></a>
            <h3>GitHub:</h3><a href="https://bit.ly/3UeeOuf"><img class="light" src="/photos/agit.png"
                width="100vw"></a>
          </div>









        </div>
      </div>


      <%- include("./partials/footer.ejs") %>
  </body>

</html>