<html lang="en">
  <%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/nav.ejs") %>
  
    <div class="body">

      <img class="foragee" src="/photos/foragetree.png">
      <div class="body2">

        <br><br><br><br>
        <h1 class="text23 ">Forage</h1>

        <hr>
        <div class="flex-inner">
          <h5 class="text box">We used Python, JavaScript, Git, GitHub, pgAdmin 4 and deployment was on Heroku. This application allows users to build libraries of images that they have added or another user has uploaded. This website also allows users to sign-up, login and view their profiles as well. As this was our first project working in Python as a team, we focused more on the functionality of the site rather than the styling with myself focusing mainly on the front end application. 

          </h5>
          <!-- <img class="img-wine" src="/photos/forageprofile.png"> -->
        </div>
        <br><br><br><br>
        <img class="foragewire" src="/photos/foragewire.png" width="100%">
        <img class="foragewire" src="/photos/forageindex.png" width="100%">
        <img class="foragewire" src="/photos/forageprofile.png" width="100%">
        <br><br><br>
        <hr>
        <div class="git">
          <a href="https://bit.ly/3DLHTba"><img class="" src="/photos/awww.png" width="100vw"></a>
          <a href="https://bit.ly/3E38Ozu"><img class="" src="/photos/agit.png" width="100vw"></a>
        </div>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
  </html>