<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="body">

        <img class="foragee" src="/photos/foragetree.png">
        <div class="body2">

          <br><br><br><br>
          <h1 class="text23 ">Forage</h1>


          <div class="flex-inner">
            <h5 class="text box"> This
              application allows users to build libraries of images that they have added or another user has uploaded.
              This website also allows users to sign-up, login and view their profiles as well. As this was our first
              project working in Python as a team, we focused more on the functionality of the site rather than the
              styling with myself focusing mainly on the front end application. </h5>
            <img class="img-wine" src="/spd/cat.png">
          </div>
          <br><br><br><br>

          <hr>
          <div class="flex-inner">
            <img class="img-wine" src="/spd/aaaforage.png">
            <h2><strong class="grey">What Technologies I Used </strong></h2>
          </div>
          <hr>
          <div class="flex-inner">
            <h5 class="text box">
            </h5>
          </div>

          <br><br><br><br>
          <div class="grey-background">
            <h2 class="foragetext">Wireframe</h2>
            <img class="foragewire" src="/photos/foragewire.png" width="100%"><hr>
            <h2 class="foragetext">Home Page</h2>
            <img class="foragewire" src="/photos/forageindex.png" width="100%"><hr>
            <h2 class="foragetext">Profile Page</h2>
            <img class="foragewire" src="/photos/forageprofile.png" width="100%"><hr>
          </div>
          <br><br><br>
          <hr>



          




          
          <div class="git">
            <a href="https://bit.ly/3DLHTba"><img class="light" src="/photos/awww.png" width="100vw"></a>
            <a href="https://bit.ly/3E38Ozu"><img class="light" src="/photos/agit.png" width="100vw"></a>
          </div>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
  </body>

</html>