<html lang="en">
  <%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/nav.ejs") %>
  
    <div class="body">
        <img class="foragee" src="/spd/gin1.png">
    
      <div class="body2">

     
        <div class="flex-inner">
         
          <!-- <img class="img-wine" src="/photos/forageprofile.png"> -->
        </div>
        <br><br><br><br><br><br>
        <img class="" src="/spd/gin1.png" width="100%">
        <img class="" src="/spd/ngin1.png" width="100%">
        <!-- <img class="" src="/spd/gin2.png" width="100%"> -->
        <img class="" src="/spd/gin3.png" width="100%">
        <!-- <img class="" src="/spd/gin4.png" width="100%"> -->
        <img class="" src="/spd/gin5.png" width="100%">


      
        <br><br><br>
        <hr>
        <div class="git">
          <a href="https://bit.ly/3DLHTba"><img class="" src="/photos/awww.png" width="100vw"></a>
          <a href="https://bit.ly/3E38Ozu"><img class="" src="/photos/agit.png" width="100vw"></a>
        </div>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
  </html>