<html lang="en">
  <%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/nav.ejs") %>
  
<div class="body">
    <div class="body2">

      <br>
      <div class="skillll">
        <h1 class="text222 ">Graphics</h1>
    </div>
      <h1 class="text2 "></h1>
     

     
      <div class="flex-inner orange">
        <video class="vid" controls>
            <source src="/graphics/cabin.mp4" type="video/mp4" >
            </source>
          </video>
          <img class="vid-d" src="/graphics/cabbin.png" width="45%">
      </div>


      <br><br><br><br>    

      <div class="flex-inner blues">
        <video class="vido" controls>
            <source src="/graphics/pot.mp4" type="video/mp4" >
            </source>
          </video>
          <h3 class="vid-d" width="45%"> Lobster Pot</h3>
      </div>



      <hr>
      <div class="git">
        <img class="" src="/photos/awww.png" width="100vw">
        <img class="" src="/photos/agit.png" width="100vw">
      </div>









    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

</html>