<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="body">


                <div class="body2">




                    <div class="flex-inner">

                        <!-- <img class="img-wine" src="/photos/forageprofile.png"> -->
                    </div>
                    <br><br><br><br>
                    <div class="together">
                        <div class="colu">
                            <img class="lobpot" src="/spd/lob1.png" width="%" height="%">
                            <h2 class="grey">The Lobster Pot</h2>
                            <h6></h6>
                        </div>
                        <img class="" src="/spd/lob2.png" width="60%">
                    </div>
                 
                    <img class="" src="/spd/lob3.png" width="100%">
                    <img class="" src="/spd/lob4.png" width="100%">
                    <img class="" src="/spd/lob5.png" width="100%">





                </div>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>