<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="body">


                <div class="body2">




                    <div class="flex-inner">

                        <!-- <img class="img-wine" src="/photos/forageprofile.png"> -->
                    </div>
                    <br><br><br><br>
                    <div class="together2">
                        <div class="colu">
                            <img class="lobpot" src="/spd/mfclogo.png" width="%" height="%">
                           
                            <h6></h6>
                        </div>
                        <img class="" src="/spd/mfclogos.png" width="60%">
                    </div>
                    <hr>
                    <video width="100%"  controls>
                        <source src="/graphics/cabin.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                      </video>
                      <hr>
                    <img class="" src="/spd/mfc.png" width="100%">
                





                    <br><br><br>
                    <hr>
                    <div class="git">
                        <a href="https://bit.ly/3DLHTba"><img class="" src="/photos/awww.png" width="100vw"></a>
                        <a href="https://bit.ly/3E38Ozu"><img class="" src="/photos/agit.png" width="100vw"></a>
                    </div>
                </div>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>



    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>

</html>