<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>



            <div class="border">
                <br>
                <div class="bracket">
                    <h1 class="text2222 ">ALL MY LINKS</h1>
                </div>
                <span class="flex-pages ">
                    <div class="wrapper">
                        <a href="/discoid">
                            <div><img class="img-pages cara" src="/photos/dvd.png"></div>
                        </a>
                        <a href="/wineapp">
                            <div><img class="img-pages cara" src="/photos/wine.png"></div>
                        </a>
                        <a href="/forage">
                            <div><img class="img-pages cara" src="/photos/cam.png"></div>
                        </a>
                        <a href="/tictactoe">
                            <div><img class="img-pages cara" src="/photos/xox.png"></div>
                        </a>
                        <a href="mfc">
                            <div><img class="img-pages cara" src="/graphics/cabbin.png"></div>
                        </a>
                        <a href="autocar">
                            <div><img class="img-pages cara" src="/photos/auto.png"></div>
                        </a>
                        <a href="/bin">
                            <div><img class="img-pages cara" src="/photos/bin.png"></div>
                        </a>
                        <a href="/interests">
                            <div><img class="img-pages cara" src="/photos/bobbie.png"></div>
                        </a>
                        <a href="/lobster">
                            <div><img class="img-pages cara" src="/spd/lobsterlgo.png"></div>
                        </a>
                        <a href="/car">
                            <div><img class="img-pages cara" src="/photos/car.png"></div>
                        </a>
                        <a href="/gin">
                            <div><img class="img-pages cara" src="/photos/gin.png"></div>
                        </a>
                        <a href="/stormsimulator">
                            <div><img class="img-pages cara" src="/spd/stormsim.png"></div>
                        </a>
                    </div>
                </span>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>