<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>



            <div class="border">
                <br>
                <div class="bracket">
                    <h1 class="text2222 ">ALL MY LINKS</h1>
                </div>
                <span class="flex-pages">
                    <div class="wrapper">
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/dvd.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/wine.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/cam.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/xox.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/graphics/cabbin.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/auto.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/bin.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/bobbie.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/spd/lobsterlgo.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/car.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/cow.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/photos/gin.png"></div>
                        </a>
                        <a href="">
                            <div class="box-pages"><img class="img-pages" src="/spd/stormsim.png"></div>
                        </a>
                    </div>
                </span>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>