<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="me-box-white">
           
                <div class="skillll">
                    <h1 class="text222 ">Software Engineering Porjects</h1>
                </div>
               

                <div class="fullboxproject">
               
                    <div class="boxproject wineapp">     <a href="/wineapp">
                        <img class="imgproject" src="/photos/wine.png">
                        <div class="line"></div><br>
                        <h3 class="font-black">Wine E-commerce<br> Website</h3>
                    </a></div>
                    
                    <div class="boxproject disk"><a href="/discoid">
                        <img class="imgproject" src="/photos/dvd.png">
                        <div class="line"></div><br>
                        <h3 class="font-black">Vinyl E-commerce<br> Website</h3>
                    </a></div>
                    
                    <div class="boxproject forage" ><a href="/forage">
                        <img class="imgprojectt" src="/photos/bcam.png">
                        <div class="linedd"></div><br>
                        <h3 class="font-blue">Photo Sharing<br> Application</h3>
                    </div>
                   
                    <div class="boxproject xox"> <a href="/tictactoe">
                        <img class="imgproject" src="/photos/pxox.png">
                        <div class="lined"><br>
                        <h3 class="font-purple">Two Player <br><strong class="font-purple">Tic, Tac, Toe</strong></h3>
                    </div></a></div>

                </div>
                <br><br>
                <div class="image-skill">
                    <img class="image-skilll"src="/photos/lang.png">
                </div>
                <br><br>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>