<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="me-box-white">
                <br>
                <div class="skillll">
                    <h1 class="text222 ">Skills</h1>
                </div>
                <div>
                    <img class="skills" src="/spd/skills.png">
                </div>
                <br>
<div class="blueish inline">
<strong class="blueish"> Front End: </strong>
•  HTML
•  CSS
•  JavaScript
•  React
•  jQuery
•  AJAX
•  Axios
•  Bootstrap
<br>
<strong class="blueish"> Back End: </strong>
•   Express 
•   Node.js 
•   MongoDB 
•   JSON
•   Django 
•   Python  
<br>
<strong class="blueish"> Industry Skills: </strong>
•   GitHub
•   Figma
•   Trello
•   Zoom
•   Slack
•   Wireframing
•   ERD’s
•   Command Line
•   Procreate
•   InDesign
•   Photshop
•   Fusion 360
•   LCA (Life Cycle Analysis) 
</div><br>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>