<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="me-box-white">
                <br>
                <div class="skillll">
                    <h1 class="text222 ">Skills</h1>
                </div>
                <div>
                    <img class="skills" src="/spd/skills.png">
                </div>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>