<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>



            <div class="flexss">
                <div class="together">
                    <img class="" src="/booklet/booklet.png" width="50%">
                    <img class="" src="/booklet/booklet2.png" width="50%">
                </div>
                <div class="together">
                <img class="" src="/booklet/booklet3.png" width="50%">
                <img class="" src="/booklet/booklet5.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet6.png" width="50%">
                <img class="" src="/booklet/booklet7.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet8.png" width="50%">
                <img class="" src="/booklet/booklet9.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet10.png" width="50%">
                <img class="" src="/booklet/booklet13.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet14.png" width="50%">
                <img class="" src="/booklet/booklet15.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet16.png" width="50%">
                <img class="" src="/booklet/booklet17.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet22.png" width="50%">
                <img class="" src="/booklet/booklet23.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet24.png" width="50%">
                <img class="" src="/booklet/booklet25.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet26.png" width="50%">
                <img class="" src="/booklet/booklet27.png" width="50%">
            </div>
                <div class="together">
                <img class="" src="/booklet/booklet28.png" width="50%">
                <img class="" src="/booklet/booklet30.png" width="50%">
            </div>
                <div class="together">
                <img class="dan" src="/booklet/booklet31.png" width="50%">
            </div>
            </div>





            <br><br><br>
            <hr>


            <%- include("./partials/footer.ejs") %>
    </body>

</html>