<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>



          
                <div class="">
                    <img class="" src="/photos/booklet.png" width="50%">
                    <img class="" src="/photos/booklet2.png" width="50%">
                </div>
                <div class="">
                <img class="" src="/photos/booklet3.png" width="50%">
                <img class="" src="/photos/booklet5.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet6.png" width="50%">
                <img class="" src="/photos/booklet7.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet8.png" width="50%">
                <img class="" src="/photos/booklet9.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet10.png" width="50%">
                <img class="" src="/photos/booklet13.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet14.png" width="50%">
                <img class="" src="/photos/booklet15.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet16.png" width="50%">
                <img class="" src="/photos/booklet17.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet22.png" width="50%">
                <img class="" src="/photos/booklet23.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet24.png" width="50%">
                <img class="" src="/photos/booklet25.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet26.png" width="50%">
                <img class="" src="/photos/booklet27.png" width="50%">
            </div>
                <div class="">
                <img class="" src="/photos/booklet28.png" width="50%">
                <img class="" src="/photos/booklet30.png" width="50%">
            </div>
                <div class="">
                <img class="dan" src="/photos/booklet31.png" width="50%">
            </div>
            </div>





            <br><br><br>
            <hr>


            <%- include("./partials/footer.ejs") %>
    </body>

</html>