<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>


      <div class="body">
        <div class="body2">
          <br><br>
          <br>
          <div class="skillll4">
            <h1 class="text222 ">Tic Tac Toe</h1>
          </div>


          <h1 class="textx "></h1>
          <img src="/photos/xoxx.png" width="100%">
          <h1></h1>
          <hr> <br>
          <div class="gitandweb2">
            <h5 class="grey"><strong class="grey">GitHub</strong> and <strong class="grey">deployment links</strong> at
              the bottom of the page.</h5>
          </div>

          <div class="flex-inner">
            <div class="box-purple">
              <h3 class="text box textw">Tic, Tac, Toe a classic two player game that is practised in school classrooms
                throughout the world. My website is trying to mirror the same pages that we used as our battlefield in
                schools. At school my workbooks were covered in doodles, sketches and games. I have tried to bring back
                the same elements into my application.</h3>
            </div>
            <img class="img-wine" src="/photos/board.png">
          </div>
          <br><br><br><br>

          <hr>
          <div class="flex-inner">
            <img class="img-wine" src="/spd/whatiusedxox.png">
            <h2><strong class="purple"> Technologies I Used </strong></h2>
          </div>
          <br><br><br><br>
          <hr>
          <img src="/photos/name.png" width="100%">
          <br><br><br>
          <hr>

          <div class="git">
            <a href=" http://bit.ly/3A08Rd3" target="_blank" rel="noopener noreferrer"><img
                class="light" src="/spd/awww.png" width="100vw"></a>
            <a href="https://bit.ly/3DMaA7M" target="_blank" rel="noopener noreferrer"><img
                class="light" src="/spd/agit.png" width="100vw"></a>
          </div>









        </div>
      </div>


      <%- include("./partials/footer.ejs") %>
  </body>

</html>