<html lang="en">
  <%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/nav.ejs") %>
  

    <div class="body">
      <div class="body2">
        <br><br>
        <br>
        <div class="skillll4">
          <h1 class="text222 ">Tic Tac Toe</h1>
      </div>
    
      
        <h1 class="textx "></h1>
        <img src="/photos/xoxx.png" width="100%">
        <h1></h1>
        <hr>
        <div class="flex-inner">
          <div class="box-purple"><h5 class="text box textw">For this Application I used JavaScript, CSS, HTML. In this project I wanted to practice and prefect the javascript functionality that we have learned about, at the start of this project I was struggling with to understand the cause and effect functionality of javascript but by the end I found I grasped a good understanding about JavaScript and the methods behind its use. This was a conceptual project aimed at providing the user with a fun and interactive website which would entertain. At the Heart of the Website is a Tick, Tack, Toe board, this is the primary operation of the site with the rest of the features adding to the interactive and immersive website. 
          </h5></div>
          <img class="img-wine" src="/photos/board.png">
        </div>
        <br><br><br><br>
        <img src="/photos/name.png" width="100%">
        <br><br><br>
        <hr>
        <div class="git">
          <a href=" http://bit.ly/3A08Rd3"><img class="light" src="/photos/awww.png" width="100vw"></a>
          <a href="https://bit.ly/3DMaA7M"><img class="light" src="/photos/agit.png" width="100vw"></a>
        </div>









      </div>
    </div>


    <%- include("./partials/footer.ejs") %>
  </body>
  </html>