<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="body">
        <div class="body2">

          <br>
          <div class="flexish">
            <img class="imgupdate" src="/spd/aaawineapp.png" alt="winelogo">
            <h1 class="text2 "><strong class="red">Wine</strong><strong class="green">App</strong></h1>

          </div>
          <br>
          <img src="/photos/winebottom1.png" width="100%">
          <hr>
          <div class="flex-inner">
            <h5 class="text box"> WineApp is a wine buying website that would allows account holders to build what we
              referred to as the cellar, which act as a playlist that the user can store their favourite wines in, for
              example a Christmas List, or a wedding list. We utilized Spoonaculars API that provided recommended wine
              and Pricing and Buying links provided, after which we added searching functionality to filter by either
              white or red. </h5>
            <img class="img-wine" src="/photos/winedeats.png">
          </div>
          <br><br><br><br>

          <hr>
          <div class="flex-inner">
            <img class="img-wine" src="/spd/whatweusedwine.png">
            <h2><strong class="grey">What Technologies I Used </strong></h2>
          </div>
          <br><br><br><br>
          <hr>
          <img src="/spd/wineappinfo.png" width="100%">
          <br><br><br><br>
          <img src="/photos/aine2.png" width="100%">
          <div class="git">
            <a href="https://bit.ly/3WclETb"><img class="light" src="/photos/awww.png" width="100vw"></a>
            <a href=" https://bit.ly/3UvZt8z"><img class="light" src="/photos/agit.png" width="100vw"></a>
          </div>











        </div>
      </div>

      <%- include("./partials/footer.ejs") %>
  </body>

</html>