* {
    color: white;

}

body {

    background-image: linear-gradient(to right, rgb(23, 21, 56), rgb(4, 69, 122));



    margin: 20px auto;
    padding: 2vw;
    font-family: 'Noto Serif', serif;



}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;

    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

nav h1 {
    font-size: 3em;
}

nav p,
nav a {
    color: #777;
    font-weight: 300;
}

#parallelogram {

    width: 12vw;
    height: 6vh;
    transform: skew(20deg);
    font-size: 0.8vw;
    border: solid white 2px;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4vw;
}

#parallelogram:hover {

    width: 12vw;
    height: 6vh;
    transform: skew(20deg);
    background-color: rgb(23, 21, 56);
    transform: scale(1.2);
    border: solid white 2px;
    z-index: 1;
    border-bottom-left-radius: 0vw;
    font-size: 1vw;


}

#parallelogram1 {

    width: 12vw;
    height: 6vh;
    transform: skew(20deg);
    font-size: 0.8vw;
    border: solid white 2px;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

}

#parallelogram1:hover {

    width: 12vw;
    height: 6vh;
    transform: skew(20deg);
    background-color: rgb(23, 21, 56);
    transform: scale(1.2);
    border: solid white 2px;
    z-index: 1;
    font-size: 1vw;
}

#parallelogram2 {

    width: 12vw;
    height: 6vh;
    transform: skew(20deg);

    border: solid white 2px;
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4vw;
    font-size: 0.8vw;
}

#parallelogram2:hover {

    width: 12vw;
    height: 6vh;
    transform: skew(20deg);
    background-color: rgb(23, 21, 56);
    transform: scale(1.2);
    border: solid white 2px;
    z-index: 1;
    border-top-right-radius: 0vw;
    font-size: 1vw;
}

.inpara {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.Line-up {
    display: flex;
    flex-direction: row;
    margin: 4vh;
    font-size: 1vw;
}

/* CARD */
.card {
    color: rgb(255, 255, 255);
    margin: 2vw;
    text-align: center;
    border: 2px white solid;
}

.card:hover {
    color: rgb(255, 255, 255);
    margin: 2vw;
    text-align: center;
    border: 2px white solid;
    background-color: rgb(30, 36, 101);
}

.flex-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.card-block {
    padding: 1vw;
}

.cara {
    transition: all .2s ease-in-out;
}

.cara:hover {
    transform: scale(1.1);
}

.carousel {
    width: 90%;

    margin: 0;
    height: 100vh;
}

.carousel-inner {
    height: 100%;


}

.cara {
    width: 15vw;
}



.title {
    color: white;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.a {
    position: absolute;
    right: 1vw;
    width: 20vw;
}

.acow {
    position: absolute;
    right: 1vw;
    width: 18vw;
    top: 0vh;
}

.c {
    position: absolute;
    right: 22vw;
    width: 10vw;
    bottom: -24vh;

}

.d {
    position: absolute;
    right: 32vw;
    top: 9vh;
}

.ne {
    position: absolute;
    right: 2vw;
    top: 26vh;
}

.b {
    position: absolute;
    right: 20vw;
    top: 29vh;

}

.b2 {
    position: absolute;
    right: 20vw;
    top: 26vh;
    width: 10vw;

}

.b22 {
    position: absolute;
    right: 17vw;
    top: 26vh;
    width: 17vw;

}

.carousel-indicators {

    position: absolute;
    margin: auto;
}

.cc {
    position: absolute;
    right: 22vw;
    width: 20vw;
    top: -2vh;
}

.flex-index {
    display: flex;
    width: 90vw;

    justify-content: center;
    margin-right: 2vw;

}

.control-prev {
    width: 10vw;
    height: 10vh;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 1vw;
    bottom: 30vh;
    border: none;
    z-index: 1;

}

.image-index {
    width: 10vw;
    border: none;

}

.control-prev-right {
    width: 10vw;
    height: 10vh;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 2vw;
    bottom: 30vh;
    border: none;
    z-index: 1;

}


.title {
    position: absolute;
    width: 35vw;
}

.w {
    color: white;
    border: white 3px solid;
    margin-bottom: 6vh;
}

a {
    color: white;
}

.cd {
    position: absolute;
    right: 20vw;
    width: 12vw;
    bottom: -20vh;
}

.body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 40px;
    width: 95vw;
}

.binin {
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    width: 95vw;
    flex-direction: column;


}

.body2 {
    width: 80vw;
}

.middle {

    padding-left: 23vw;

}

.text {
    color: #777;
}

.text2 {
    color: #777;
    font-size: 8vh;
}

.box {
    margin-top: 5%;
    padding: 3%;
    width: 40vw;
    text-align: center;
}

.img-wine {
    width: 30vw;
    margin-top: 6vh;

}

.flex-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.git {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-bottom: 3vh;
}

.git-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* CAR CSS */


#gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;

    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

@media (max-width:1200px) {
    #gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;

        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}

@media (max-width:800px) {
    #gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}

@media (max-width:600px) {
    #gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

#gallery img,
#gallery video {
    width: 100%;
    height: auto;
    margin: 4% auto;

    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.modal-img,
.model-vid {
    width: 100%;
    height: auto;
}

.modal-body {
    padding: 0px;
}

.carin {
    position: relative;

}

.fontcolor {
    color: #777;
    text-align: center;
}

.justify {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.bodydisc {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 40px;

}

.text22 {
    color: rgb(69, 13, 65);
    font-size: 8vh;

}
.text22p {
    color: rgb(240,156,194);
    font-size: 8vh;

}
.pink {
    color: rgb(240,156,194);
}

.white {
    color: rgb(69, 13, 65);
}

.underline {
    border-bottom: 3px solid rgb(153,208,166);
    display: flex;
    flex-direction: row;
    align-items: center;
}



.me-box {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 40px;
    height: 100%;
}

.blue {
    color: rgb(0, 0, 73);
    padding-left: 6vw;
    padding-bottom: 6vw;
    padding-right: 6vw;
}

.blue-title {
    color: rgb(0, 0, 73);
    padding-top: 4vh;
    padding-left: 4vh;
    padding-bottom: 3vh;
}

/* ...........................GRAPHICS */
.vid {
    width: 60%;
    border-radius: 20px;
    border: none;
}

.vid-d {
    margin-left: -8;

}

.orange {
    background-color: rgb(181, 101, 31);
    border-radius: 20px;
}

.blues {
    background-color: rgb(13, 68, 139);
    border-radius: 20px;

}

.vidd {
    width: 21%;
    border-radius: 20px;
    border: none;
    right: 0px;
    position: relative;
}

.flex-inner-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.vido {
    width: 40%;
    border-radius: 20px;
    border: none;
    margin-left: -15.5vw;
}

.blueish {
    color: rgb(4, 4, 55);
}

.nav {
    background-color: white;
    padding: 2px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    width: 100%;
    height: 100%;
    align-items: center;

    justify-content: center;
    align-items: baseline;
    padding-top: 2vh;
    padding-right: 3vw;
}

/* .......................TIC TAC TOE */
.textx {
    color: rgb(84, 15, 118);
    font-size: 8vh;
    margin-left: 3vw;
}

.textp {
    margin-top: 16vh;
    color: rgb(84, 15, 118);
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}

.gitt {
    width: 5vw;
}

.fb {
    width: 5vw;
}

.dark:hover {
    filter: brightness(70%)
}

.light:hover {
    filter: brightness(170%)
}

.blue2 {
    color: rgb(6, 0, 95);
    font-size: 4vh;
}

.flex-ins {
    display: flex;
    flex-direction: row;

    align-items: center;
}

ul {
    list-style-type: none;
}

.contac {
    margin-left: 10vw;
    margin-bottom: 20px;
    margin-top: -10vh;

    width: 80%;
    border-radius: 40px;
    height: 90%;
    padding: 6vh;


}

.skills {
    width: 95vw;
}

.me-box-white {
    background-color: white;
    width: 100%;
    border-radius: 40px;
    height: 120%;
    padding-top: 4vh;
}

.text222 {
    margin: 7vh;
    color: #777;
    color: rgb(255, 255, 255);
    font-size: 8vh;
}

.skillll {
    background-image: linear-gradient(to right, rgb(23, 21, 56), rgb(4, 69, 122));
    justify-content: center;
    margin-left: 6vh;
    margin-top: -4vh;
    border-radius: 30px;
    max-width: 90%;

}


.img-responsive {
    border-radius: 40px;

}

/* .flex-inner {
    /* background-image: linear-gradient(to right, rgb(23, 21, 56), rgb(4, 69, 122));
    padding: 4vw;
    border-radius: 20px; 
} */
.linav {
    background-color: rgb(44, 67, 102);
    padding: 0.3vh;
    border-radius: 6px;
    width: 10%;
    text-align: center;
    color: white;
}

.linav:link {
    color: white;
}

.fullboxproject {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 2vw;
}

.boxproject {

    /* border: rgb(34, 0, 136) 3px solid; */
    border-radius: 20px;
    width: 20vw;
    height: 60vh;
    margin: auto;
    padding: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform .2s
}

.boxproject:hover {
    transform: scale(1.1)
}

.imgproject {

    height: 40vh;
    width: 20vw;
    padding: 3vw;

}

.imgprojectt {

    height: 40vh;
    width: 20vw;
    padding: 3vw;
    padding-left: 20%;

}

.font-black {
    color: rgb(255, 255, 255);
}

.disk {
    background-color: rgb(255, 111, 212);
}

.forage {
    background-color: rgb(215, 255, 175);
}

.font-blue {
    color: rgb(0, 0, 100);
}

.wineapp {
    background-color: rgb(115, 0, 0);
}

.xox {
    background-color: rgb(255, 216, 178);
}

.font-purple {
    color: rgb(63, 0, 122);
}

.line {
    margin: auto;
    width: 90%;

    border-radius: 2px;

}

.lined {
    margin: auto;
    width: 90%;
    border-radius: 2px;
}

.image-skill {
    background-image: linear-gradient(to right, rgb(23, 21, 56), rgb(4, 69, 122));
    width: 93%;
    margin: auto;
    border-radius: 20px;
}

.image-skilll {
    width: 100%;
    margin: auto;
}

.foragee {
    width: 95vw;
    position: absolute;
    margin-left: 0vw;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.foragewire {
    margin-top: 0vh;
}

.grey-background {
    background-color: rgb(213, 213, 213);
    padding: 7vh;
    border-radius: 20px;
}

.foragetext {
    color: rgb(255, 255, 255);
    background-color: rgb(213, 213, 213);
    margin-top: 3vh;
}

.text23 {
    color: rgb(76, 172, 67);
    font-size: 8vh;
    text-align: center;
}

.autocar {
    border-top-right-radius: 6vw;
    border-top-left-radius: 6vw;
}

.autocar1 {
    border-bottom-right-radius: 4vw;
    border-bottom-left-radius: 4vw;
}

.blue23 {
    color: rgb(106, 106, 106);
}

.button {

    color: rgb(0, 0, 116);
    background-color: transparent;
    border: none;
}

.float {
    display: flex;
    flex-direction: row;
}

.text-box-right {
    width: 30%;
    margin-top: 13%;
    padding: 3vw;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    margin-left: 2vw;
}

.grey {
    color: #777;
}

.nb {
    position: absolute;
    width: 16vw;
    top: 30vh;
    left: 28vw;
}

.flexss {
    display: flex;
    flex-direction: column;


}

.together {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
    border: rgb(10, 5, 66) solid 3px;
    border-radius: 20px;



}

.together2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    align-items: center;
    padding: 3vw;
    border-radius: 20px;
    background-color: rgb(255, 136, 0);



}

.colu {
    flex-direction: column;
    text-align: center;

}

.lobpot {
    width: 30vw;
}

.float-right {
    position: absolute;
    right: 5vw;
}

.img-bin {
    padding-bottom: 3vh;
}

.text-boxx {
    text-align: center;
    width: 33%;
    background-color: aqua;
}

.full-box-bin {
    background-color: #777;
    width: 90vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-rubbish {
    display: flex;
    flex-direction: row;
    width: 60vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    padding-right: 5vw;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2vw;
}
.binlogo {
    width: 20vw;
}

.image-skill2 {
    background-image: linear-gradient(to right, rgb(23, 21, 56), rgb(4, 69, 122));
    width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-top: 2vh;
}

.me-box3 {
    background-color: rgb(255, 255, 255);
    width: 99%;
    border-radius: 40px;
}

.up {
    margin-top: -2vh;
    color: rgb(233, 233, 233);
}

.underline3 {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
}

.color {

    background-color: rgb(240,156,194);
    border-radius: 20px;
    width: 70%;
    padding: 2vh;
    margin-top: 1vh;
    margin-left: 2vw;
    text-align: center;
    height: 8vh;
}

.box-purple {
    background-color: rgb(78, 33, 87);
    border-radius: 20px;
}

.textw {

    color: rgb(255, 255, 255);
    padding: 4vw;

}

.purple {
    color: rgb(78, 33, 87);
    
}

.skillll4 {
    background-color: rgb(78, 33, 87);
    justify-content: center;
    margin-left: 6vh;
    margin-top: -4vh;
    border-radius: 30px;
    max-width: 90%;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.box-pages {

    height: 20vw;
    width: 20vw;
    margin-bottom: 15px;
}

.img-pages {
    width: 80%;
    height: 80%;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.img-pages:hover {
    transform: scale(1.1);
    padding: 5px;
}

.flex-pages {
    display: flex;

    justify-content: center;


}

.text2222 {
    margin: 7vh;
    color: #777;
    color: rgb(16, 10, 58);
    font-size: 8vh;
}

.bracket {
    background-color: white;
    justify-content: center;
    margin-left: 6vh;
    margin-top: -4vh;
    border-radius: 30px;
    max-width: 50%;

}

.border {
    border: white 15px solid;
    border-radius: 50px;
}

.me {
    border-radius: 100%;
    width: 30vh;
    height: 30vh;
    margin-left: 4vw;
    border: 1vw rgb(0, 0, 80) solid;

}

.flex-direction-accross {
    display: flex;
    flex-direction: row;


}
.imgupdate {
    height: 10vh;
}
.flexish {
    display: flex;
}
.green {
color: rgb(160,181,154);
}
.red {
color: rgb(117,13,13);
}